.banner_img {
    background-image: url(../src/img/home/bannerbackground.png);
    width: 100%;
    background-size: cover;
    height: 500px;
}

@media (max-width:'670px') {
    .bgimg {
        display: none;
    }
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}